*{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

#body{
    background-color: wheat;
}

#header{
    background-color: blueviolet;
    text-align: left;
}

#navigation{
    background-color: cornflowerblue;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: right;
}

.contact{
    text-align: center;
}

#styled{
    bottom: unset;: center;
}

#footer{
    text-align: center;
}